body {
    background: goldenrod;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: rgba(0,0,0,0.9)
}

a:link, a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: goldenrod;
}

h1 {
    color: rgba(255, 255, 255, 0.925);
    text-shadow: 2px 2px rgba(0,0,0,0.2), 4px 4px rgba(0,0,0,0.1);
    font-family: 'Merriweather', helvetica, serif;
    font-size: 3.5em;
}

h2 {
    color: rgba(0,0,0,0.7)
}

#definition {
    font-size: .8em;
    color:  rgba(0,0,0,0.9)

}

#submitted-text {
    background-color: goldenrod;
    color: white;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 5px;
    width: 200px;
    font-size: 1em;
}

button {
    color: white;
    background-color: goldenrod;
    border: 0px;
    padding: 7px 20px;
    font-weight: bold;
    margin-top: 3px;
    font-size: 1em;

}

button:hover {
    box-shadow:0 0 2px rgba(0,0,0,0.3);
}

/* main container */
.wrapper {
    border:5px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow:0 0 50px  rgba(0,0,0,0.3);
    background: rgba(255, 255, 255, 0.3);

    padding: 10px;
    height: 83vh;
    max-width:600px;
    margin: 5vh auto 5vh auto;

    display: flex;
    flex-direction: column;
    justify-items: stretch;
}

div.lists {
    flex: 1 1 50%;

    display: flex;

    overflow-y: scroll;

    line-height: 1.4;

}


.list1 {
    padding: 20px;
    background: rgba(255,255,255,0.3);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 0 1.5vh;

    flex: 1 1 30%;

    overflow-y: scroll;
}

.list2 {
    padding: 20px;
    background: rgba(255,255,255,0.3);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 0 1.5vh;

    flex: 1 1 30%;

    overflow-y: scroll;
}

.list-name {
    text-align: center;
    flex: 1 0 auto;
    margin: 0 auto 0 auto;
    font-size: 1.2em;
    letter-spacing: 2
}

.lists ul {
    flex: 1 0 auto;
    overflow-y: scroll;

}

.title-text {
    text-align: center;
    margin: 0;

}

.main-form {
    text-align: center;
    padding: 5px;
    line-height: 1.6;
}

.footer {
    margin: 1vh auto auto auto;
    align-self: center;
}